{% comment %}
  Shows a list of posts, newest first. Usage: {% include post-list.html posts=site.posts %}
  Reading time assumes about 200 words per minute.
{% endcomment %}
<ul class="post-list">
  {% for post in include.posts %}
  {% assign minutes = post.content | strip_html | number_of_words | divided_by: 200 | at_least: 1 %}
  <li>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <p class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      &middot; {{ minutes }} minute read
    </p>
    {% if post.description %}<p class="post-description">{{ post.description }}</p>{% endif %}
    {% include tag-list.html tags=post.tags %}
  </li>
  {% endfor %}
</ul>
